<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MG Brandworks India | Let's bring your brand to life.">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="nav-logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/founder.png') }}" alt="MG Logo">
                </a>
            </div>

            <div class="burger-menu" id="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('about') }}">Services</a></li>
                <li><a href="{{ url_for('projects') }}">Blog</a></li>
                <li><a href="{{ url_for('projects') }}">Socials</a></li>
                <li><a href="{{ url_for('contact') }}">contact</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>