{% extends 'base.html' %}

{% block title %}
Fun With Flags: A Vexillological Drama
{% endblock %}

{% block body %}
<div class="top-nav">
    <div class="topnav-parent" style="overflow: hidden; width: 100%; height: 44px">
        <a class="topnav-item button" href="index.html" title="About Website" style="padding-left: 18px!important; padding-right: 18px!important;">About</a>
        <a class="topnav-item button " href="index.html" title="Flags" style="padding-left: 18px!important; padding-right: 18px!important;">Flags</a>
    </div>

</div>

{% endblock %}