{% extends 'base.html' %}

{% block title %}
MG Brandworks India | Home
{% endblock %}

{% block body %}
<div class="home-hero">
    <div class="hero-bg-container">
        <img src="{{ url_for('static', filename = 'images/founder.jpg') }}" alt="Founder" class="hero-bg-image">
        <div class="tint-overlay"></div>
    </div>

    <div class="hero-content">
        <h1 class="brand-name">MG BRANDWORKS INDIA</h1>
        <h3 class="tagline">let's bring your brand to life...</h3>
        <div class="hero-buttons">
            <button class="cta-button" onclick="location.href='{{ url_for('projects') }}'">Let's Go!</button>
            <button class="cta-button" onclick="location.href='{{ url_for('about') }}'">Learn More</button>
        </div>
<!--        <div class="injected-text">-->
<!--            {{ content|safe }}-->
<!--        </div>-->
    </div>

</div>
<footer class="site-footer">
    <p>&copy; 2026 MG BRANDWORKS INDIA</p>
</footer>
{% endblock %}